<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body>
     <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
            {% if current_user.is_admin() %}
                <a class="navbar-brand">Admin</a>
            {% else %}
                <<a class="navbar-brand">User</a>
            {% endif %}
        {% else %}
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </div>
        {% endif %}
        <a class="navbar-brand" href="/">Наше приложение</a>
    </nav>
    <div class="wrapper">
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
        <div class="footer">
            <p>All rights are reserved &copy; Ademy 2022</p>
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>