{% extends "base.html" %}

{% block main %}
    {% if message %}
        <div class="alert alert-success" role="alert">
        {{ message }}
        </div>
    {% endif %}
    <div class="list__objects">
            {% for obj in objects %}
                <div class="alert alert-info">
                    <h1>{{ obj.title }}</h1>
                    <img src="Картинка" alt="">
                    <a href="/objects/{{ obj.id }}">Подробнее</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}