{% extends "base.html" %}

{% block main %}
    <div class="list-group">
        <h3>{{ obj.title }}</h3>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Номер в реестрe</th>
                    <th scope="col">Регион</th>
                    <th scope="col">Полный адрес</th>
                    <th scope="col">Категория историко-культурного значения</th>
                    <th scope="col">Вид объекта</th>
                </tr>

            </thead>
            <tbody>
                <tr class="table-primary">
                    <td scope="row">{{obj.register_number}}</td>
                    <td scope="row">{{obj.region}}</td>
                    <td scope="row">{{obj.full_address}}</td>
                    <td scope="row">{{obj.category.title}}</td>
                    <td scope="row">{{obj.type.title}}</td>
                </tr>
            </tbody>
        </table>
        {% for file in obj.files.split("<>") %}
        {% if file.endswith(".mp4") or file.endswith(".avi") or file.endswith(".mov") %}
            <video><source type="video/mp4" src="/static/upload_folder/{{ file }}"></video>
        {% elseif file.endswith(".png") or file.endswith(".jpg") or file.endswith(".jpeg") file.endswith(".gif") %}
            <img width="1024" src="/static/upload_folder/{{ file }}" alt="">
        {% endif %}
    {% endfor %}
    </div>
    <div class="object__comments">
        {% for comment in comments %}
            <div class="border border-primary">
                <div class="alert alert-info">{{ comment.created_by }}</div>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
        {% if current_user.is_authenticated %}
            {% for field in form if field.name != 'csrf_token' %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="message message-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <form action="" method="post" novalidate>
                {{ form.csrf_token }}
                {{ form.comment }}
                <button type="submit">send</button>
            </form>
        {% endif %}
    </div>
{% endblock %}