{% extends "base.html" %}

{% block main %}
    <h1>Объект</h1>
    <div class="object_{{ obj.id }}">
        <h1>{{ obj.title }}</h1>
        <p>Номер в реестре >> {{ obj.register_number }}</p>
        <p>Регион >> {{ obj.region }}</p>
        <p>Полный адрес >> {{ obj.full_address }}</p>
        <p>Категория историко-культурного значения >> {{ obj.category.title }}</p>
        <p>Вид объекта >> {{ obj.type.title }}</p>
    {% for file in obj.files.split("<>") %}
        {% if file.endswith(".mp4") or file.endswith(".avi") or file.endswith(".mov") %}
            <video><source type="video/mp4" src="/static/upload_folder/{{ file }}"></video>
        {% elseif file.endswith(".png") or file.endswith(".jpg") or file.endswith(".jpeg") file.endswith(".gif") %}
            <img width="1024" src="/static/upload_folder/{{ file }}" alt="">
        {% endif %}
    {% endfor %}
    </div>
    <div class="object__comments">
        {% for comment in comments %}
            <div class="comment_{{ comment.id }}">
                <p>{{ comment.created_by }}</p>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
        {% if current_user.is_authenticated %}
            {% for field in form if field.name != 'csrf_token' %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="message message-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <form action="" method="post" novalidate>
                {{ form.csrf_token }}
                {{ form.comment }}
                <button type="submit">send</button>
            </form>
        {% endif %}
    </div>
{% endblock %}