{% extends "base.html" %}

{% block main %}
    <!-- TODO: Сделать autocomplete="on" у полей -->
    {% if message %}
        <div class="alert alert-danger">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <div class="main__register">
        <form action="" method="post">

            {{ form.csrf_token }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>

            <p>
                {{ form.surname.label }}<br>
                {{ form.surname(class="form-control") }}<br>
                {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>

            <p>
                {{ form.age.label }}<br>
                {{ form.age(class="form-control") }}<br>
                {% for error in form.age.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>

            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>

            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}