{% extends "base.html" %}

{% block main %}
    <!-- TODO: Сделать autocomplete="on" у полей -->
    <span class="progress-bar"></span>
    <div class="main__register">
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            <div class="messages">
                {% for field in form if field.name != 'csrf_token' %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="message message-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            {{ form.csrf_token }}
            <div class="register__component rules__list">
                <div class="header">
                    <img class="logo" src="/static/img/logo.svg" alt="">
                    <h2>Добро пожаловать в Ademy!</h2>
                    <p class="text-muted">Пожалуйста, соблюдайте следующие правила:</p>
                </div>
                <ul>
                    <li>
                        <h2 class="li_text">Будьте собой.</h2>
                        <p class="li_text text-muted">Ваши фото, возраст и информация о себе должны быть настоящими.</p>
                    </li>
                    <li>
                        <h2 class="li_text">Помните о безопасности.</h2>
                        <p class="li_text text-muted">Не торопитесь делиться своей личной информацией. <b>Безопасность
                            превыше всего.</b></p>
                    </li>
                    <li>
                        <h2 class="li_text">Ведите себя достойно.</h2>
                        <p class="li_text text-muted">Уважайте других и относитесь к ним так, как вы бы хотели, чтобы
                            они относились к Вам.</p>
                    </li>
                    <li>
                        <h2 class="li_text">Действуйте решительно.</h2>
                        <p class="li_text text-muted">Всегда сообщайте о неподобающем поведении.</p>
                    </li>
                </ul>
            </div>
            <div class="register__component name__input">
                <div class="wrap">
                    <h1>Меня зовут</h1>
                    {{ form.name(placeholder="Укажите имя", autocomplete="on") }}
                </div>
            </div>
            <div class="register__component surname__input">
                <div class="wrap">
                    <h1>Меня зовут</h1>
                    {{ form.surname(placeholder="Укажите фамилию") }}
                </div>
            </div>
            <div class="register__component age__input">
                <div class="wrap">
                    <h1>Мой возраст</h1>
                    {{ form.age(placeholder="12") }}
                </div>
            </div>
            <div class="register__component password__input">
                <div class="wrap">
                    <h1>Мой пароль</h1>
                    {{ form.password(placeholder="Введите пароль") }}
                </div>
            </div>
            <div class="register__component email__input">
                <div class="wrap">
                    <h1>Моя почта</h1>
                    {{ form.email(placeholder="Введите почту") }}
                    <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}